{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


        {% if author.links %}
                {% for link in author.links %}
                  {% if link.label and link.url %}
                    <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
                  {% endif %}
                {% endfor %}
        {% endif %}


        {% if author.linkedin %}
            <li>
              <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
                <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
              </a>
            </li>
        {% endif %}

        {% if author.github %}
            <li>
              <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
                <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
              </a>
            </li>
        {% endif %}

        {% if author.twitter %}
            <li>
              <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
                <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
              </a>
            </li>
        {% endif %}

        {% if author.facebook %}
            <li>
              <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
                <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
              </a>
            </li>
        {% endif %}
