/* ==========================================================================  
   BUTTONS  
   ========================================================================== */

/* Utilisation des variables définies dans initialize.scss */
$primary-color: #007bb6 !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$jmp-color: #ff8c00 !default;

/* Styles de base des boutons */
.btn {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: $base-font-family; // Utilisation de $base-font-family de initialize.scss
  font-size: $base-font-size * 1; // Correspond à $type-size-7
  font-weight: $base-font-weight;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $spacing-unit / 10; // Adapte $border-radius avec $spacing-unit
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  .icon {
    margin-right: 0.5em;
  }

  &:hover {
    filter: brightness(90%);
  }

  /* Variantes de couleur */
  $buttoncolors: (
    primary: $primary-color,
    success: $success-color,
    warning: $warning-color,
    danger: $danger-color,
    info: $info-color,
    jmp: $jmp-color
  );

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      background-color: $color;
      color: #fff;

      &:hover {
        background-color: mix(#000, $color, 15%);
      }
    }
  }
}

/* Bouton en bloc */
.btn--block {
  display: block;
  width: 100%;
}

/* Bouton spécial JMP */
.btn--jmp {
  background-color: $jmp-color;
  color: #fff;
  border: 1px solid darken($jmp-color, 10%);
  padding: 0.5em 1em;
  border-radius: $spacing-unit / 10; // Adapte $border-radius avec $spacing-unit
  font-size: $base-font-size * 1; // Correspond à $type-size-5
  font-weight: $base-font-weight;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darken($jmp-color, 5%);
    color: #fefefe;
  }
}
