/* ==========================================================================  
   BUTTONS  
   ========================================================================== */

/* Utilisation des variables définies dans initialize.scss */
$primary-color: #007bb6 !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$jmp-color: #00949E !default; // Couleur mise à jour pour le bouton JMP

/* Styles de base des boutons */
.btn {
  display: inline-block;
  color: white;
  padding: 7px 12px; // Espacement à l'intérieur des boutons
  text-align: center;
  text-decoration: none;
  font-family: $base-font-family;
  font-size: $base-font-size; // Taille de police
  font-weight: $base-font-weight;
  margin: 3px 2px; // Espacement autour des boutons
  cursor: pointer;
  border-radius: 14px; // Bord arrondi
  border: 1px solid transparent; // Bordure par défaut, ajustée avec les variantes
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    filter: brightness(90%);
  }

  /* Variantes de couleur */
  $buttoncolors: (
    primary: $primary-color,
    success: $success-color,
    warning: $warning-color,
    danger: $danger-color,
    info: $info-color,
    jmp: $jmp-color
  );

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      background-color: $color;
      color: #fff;
      border-color: darken($color, 10%); // Ajuste la couleur de la bordure pour chaque bouton

      &:hover {
        background-color: mix(#000, $color, 15%);
      }
    }
  }
}

/* Bouton en bloc */
.btn--block {
  display: block;
  width: 100%;
}
